#left {
  background-color: #333f49;
  width: 385px;
  float: left; 
  height: 888px;
}
#right {
  margin-left: 385px;
  /* Change this to whatever the width of your left column is*/
}
.clear {
  clear: both;
}
.question-style {
  font-size: 20px;
  -webkit-text-stroke-width: 0.1px;
  color: #a7a7a7;
  position: absolute;
  text-indent: 25px;
}
.alarm-style {
  font-size: 20px;
  -webkit-text-stroke-width: 0.5px;
  color: #f7323c;
  position: absolute;
  text-indent: 35px;
}
.building-name-style {
  font-size: 20px;
  -webkit-text-stroke-width: 1px;
  color: #a7a7a7;
  position: absolute;
  text-indent: -65px;
}